*::selection {
    color: white;
    background-color: rgb(255, 30, 30);

}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin: 150px 0px;
    z-index: 3;
}

header {
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.555);
    backdrop-filter: blur(1.5px);
    z-index: 2;
}

#title {
    font-size: 23px;
    margin-left: 25px;
    font-weight: 500;
}

li {
    margin: 10px 0px;
    font-family: Inter;
    margin: 14px;
}

#myNavbar {
    justify-content: center;
}

.bg-3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #0a0f1f, #000);
    perspective: 1200px;
    z-index: -1;
}

.element {
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgb(132, 0, 255);
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(2px);
    transform-style: preserve-3d;
    animation: float 6s infinite ease-in-out alternate;
}

@keyframes float {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 0.8;
        filter: blur(8px);
    }

    100% {
        transform: translate3d(300px, 150px, 200px) rotateY(180deg) scale(1.4);
        opacity: 0.4;
        filter: blur(08px);
    }
}

#winner {
    letter-spacing: 08px;
    font-size: 75px;
    font-family: Saira Stencil One;
}

#subtitle {
    margin-bottom: 12%;
}

#card-1 {
    height: auto;
    z-index: 1;
}

#card-2 {
    transform: rotate(-5deg);
    height: auto;
    z-index: 0;
    margin-top: 50px;
}

#card-3 {
    transform: rotate(5deg);
    height: auto;
    z-index: 0;
    margin-top: 50px;
}

#circle {
    width: 100%;
    height: 35%;
    border-radius: 50%;
}